<footer class="main-footer">
	Powered by <strong><a target="new" href="http://www.asadeltech.com">ASADEL TECHNOLOGIES (P)
			Ltd.</a></strong> All
	rights reserved.

	<div class="float-right d-none d-sm-inline-block">
		<b>Annual License Version 1.1.1</b>
	</div>

</footer>