<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title> Home</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/stylesheets/css/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="/stylesheets/css/fontawesome-latest/css/all.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<style>
    .hide{
        display: none;
    }
</style>
<body>
    <section>
        <input type="text" id="myname" class="form-control" placeholder="Your Name" required/> <br/>
        <input type="text" id="mygroup" class="form-control" placeholder="Your Group Name" required/> <br/>
        <button id="connect" class="btn btn-success btn-sm">Connect</button>
    </section>
    <section class="msger hide">
        <header class="msger-header">
            <div class="msger-header-title">
                <i class="fas fa-comment-alt"></i> <span id="t"></span>
            </div>
            <div class="msger-header-options">
                <span><i class="fas fa-user"></i> : <span id="online"></span></span>
            </div>
        </header>

        <main class="msger-chat">
            
        </main>

        <form class="msger-inputarea">
            <input type="text" class="msger-input" placeholder="Enter your message...">
            <button type="submit" class="msger-send-btn">Send</button>
        </form>
    </section>

    <script src="/javascripts/js/jquery.min.js"></script>
    <script src="/javascripts/js/bootstrap.min.js"></script>
    <script src="/javascripts/js/socket.io.js"></script>
    <script src="/javascripts/js/common1.js"></script>
</body>

</html>